## Project Summary

* Analyze the number of hours worked  people who have been incarcerated, group by region, and compare it to people who have not been to jail



* Analyze the number of hours worked in each state to determine which states have the shorest work weeks on average

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

In [2]:
jobs_data = pd.read_csv("./2019_jobs_data.csv", engine="python")
jobs_data_df = jobs_data
jobs_data_df.head()

,RESPONDENT_ID,RESPONDENT_LANGUAGE,job_quality_index,good_job,mediocre_job,bad_job,income_level,HighWellBeing,ModerateWellBeing,LowWellBeing,...,cbsacode,cbsatitle,mostly_rural,pop_rural2010,pop_cou2010,poppct_rural2010,statename,metro_or_micro,ctyfip,county_name
0,01_000000_00000001,en-US,NaN,NaN,NaN,NaN,Bottom 20%,1.0,0.0,0.0,...,41180.0,"St. Louis, MO-IL",0,11368,998954,1.14,Missouri,Metropolitan Statistical Area,29189,"St. Louis County, Missouri"
1,01_000001_00000001,en-US,NaN,NaN,NaN,NaN,Bottom 21%-49%,1.0,0.0,0.0,...,41180.0,"St. Louis, MO-IL",0,66049,218733,30.20,Missouri,Metropolitan Statistical Area,29099,"Jefferson County, Missouri"
2,01_000002_00000001,en-US,NaN,NaN,NaN,NaN,Bottom 21%-49%,1.0,0.0,0.0,...,41180.0,"St. Louis, MO-IL",0,35924,269282,13.34,Illinois,Metropolitan Statistical Area,17119,"Madison County, Illinois"
3,01_000003_00000001,en-US,2.977019,0.0,0.0,1.0,Bottom 21%-49%,1.0,0.0,0.0,...,34980.0,"Nashville-Davidson--Murfreesboro--Franklin, TN",1,35289,66283,53.24,Tennessee,Metropolitan Statistical Area,47147,"Robertson County, Tennessee"
4,01_000004_00000001,en-US,NaN,NaN,NaN,NaN,Bottom 20%,0.0,1.0,0.0,...,37980.0,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",0,24783,538479,4.60,Delaware,Metropolitan Statistical Area,10003,"New Castle County, Delaware"

In [3]:
# Columns to be analyzed
jobs_data_df = jobs_data_df[['Q14_hrs_all_jobs', 'Q2_Health', 'Q49_gender', 'Q50_age', 
                            'Q3_Income_vs_5yr_ago', 'avg_hours_worked', 'avg_hours_worked_men', 
                            'avg_hours_worked_women', 'Q4_Income_vs_5yr_fut', 'Q11_why_other_job', 
                            'Q33_have_right_edu', 'Q62_ever_incarcerated','Q64_personal_income_cleaned', 'Q65_household_income_cleaned', 'statename', 'region']]
jobs = jobs_data_df
jobs.head()

,Q14_hrs_all_jobs,Q2_Health,Q49_gender,Q50_age,Q3_Income_vs_5yr_ago,avg_hours_worked,avg_hours_worked_men,avg_hours_worked_women,Q4_Income_vs_5yr_fut,Q11_why_other_job,Q33_have_right_edu,Q62_ever_incarcerated,Q64_personal_income_cleaned,Q65_household_income_cleaned,statename,region
0,NaN,1.0,1.0,59.0,1.0,38.5,40.6,36.4,2.0,NaN,NaN,0.0,0.0,21000.0,Missouri,Midwest Region
1,NaN,4.0,2.0,68.0,3.0,38.6,41.0,36.0,2.0,NaN,NaN,0.0,2000.0,70000.0,Missouri,Midwest Region
2,NaN,4.0,2.0,79.0,1.0,37.8,40.2,35.3,3.0,NaN,NaN,0.0,34000.0,34000.0,Illinois,Midwest Region
3,20.0,4.0,2.0,57.0,1.0,40.4,42.8,37.6,3.0,NaN,1.0,0.0,24000.0,250000.0,Tennessee,South Region
4,NaN,3.0,1.0,65.0,1.0,38.3,40.2,36.4,2.0,NaN,NaN,0.0,0.0,0.0,Delaware,South Region

In [4]:
# Drop outliers that have annual income of 1,000,000 or more since 
# less than 100 respondants have an annual income of 1,000,000 or more

jobs= jobs[~(jobs['Q64_personal_income_cleaned'] >= 1000000)] 
jobs

,Q14_hrs_all_jobs,Q2_Health,Q49_gender,Q50_age,Q3_Income_vs_5yr_ago,avg_hours_worked,avg_hours_worked_men,avg_hours_worked_women,Q4_Income_vs_5yr_fut,Q11_why_other_job,Q33_have_right_edu,Q62_ever_incarcerated,Q64_personal_income_cleaned,Q65_household_income_cleaned,statename,region
0,NaN,1.0,1.0,59.0,1.0,38.5,40.6,36.4,2.0,NaN,NaN,0.0,0.0,21000.0,Missouri,Midwest Region
1,NaN,4.0,2.0,68.0,3.0,38.6,41.0,36.0,2.0,NaN,NaN,0.0,2000.0,70000.0,Missouri,Midwest Region
2,NaN,4.0,2.0,79.0,1.0,37.8,40.2,35.3,3.0,NaN,NaN,0.0,34000.0,34000.0,Illinois,Midwest Region
3,20.0,4.0,2.0,57.0,1.0,40.4,42.8,37.6,3.0,NaN,1.0,0.0,24000.0,250000.0,Tennessee,South Region
4,NaN,3.0,1.0,65.0,1.0,38.3,40.2,36.4,2.0,NaN,NaN,0.0,0.0,0.0,Delaware,South Region
5,40.0,4.0,2.0,72.0,3.0,38.4,41.1,35.4,1.0,NaN,0.0,0.0,47000.0,138000.0,Pennsylvania,Northeast Region
6,40.0,4.0,1.0,62.0,2.0,37.6,39.7,34.9,1.0,NaN,1.0,0.0,54000.0,68400.0,California,West Region
7,NaN,3.0,1.0,95.0,3.0,37.6,39.7,34.9,2.0,NaN,NaN,0.0,0.0,70000.0,California,West Region
8,40.0,5.0,2.0,23.0,3.0,35.9,38.6,33.0,3.0,4.0,1.0,0.0,45000.0,95000.0,California,West Region
9,NaN,2.0,1.0,61.0,2.0,39.9,42.5,37.0,2.0,NaN,NaN,1.0,15000.0,15000.0,Louisiana,South Region
10,30.0,4.0,1.0,79.0,2.0,39.9,42.3,37.2,2.0,NaN,1.0,0.0,42000.0,42000.0,Texas,South Region
11,NaN,3.0,1.0,71.0,2.0,36.5,39.5,33.4,2.0,NaN,NaN,0.0,90000.0,150000.0,Rhode Island,Northeast Region
12,NaN,4.0,2.0,59.0,2.0,38.3,40.3,36.2,2.0,NaN,NaN,0.0,0.0,70000.0,Minnesota,Midwest Region
13,NaN,2.0,1.0,84.0,3.0,39.2,41.1,37.0,3.0,NaN,NaN,0.0,0.0,54000.0,Florida,South Region
14,36.0,5.0,2.0,42.0,3.0,38.7,41.8,35.4,3.0,NaN,1.0,0.0,30000.0,30000.0,Minnesota,Midwest Region
15,NaN,2.0,1.0,72.0,2.0,39.2,41.1,37.2,2.0,NaN,NaN,1.0,0.0,15000.0,Florida,South Region
16,NaN,5.0,2.0,78.0,2.0,37.9,40.5,35.0,2.0,NaN,NaN,0.0,0.0,NaN,Pennsylvania,Northeast Region
17,NaN,4.0,2.0,74.0,2.0,37.9,39.8,35.7,2.0,NaN,NaN,0.0,0.0,2500.0,Florida,South Region
18,36.0,4.0,1.0,74.0,3.0,38.9,41.5,36.0,2.0,2.0,1.0,0.0,24000.0,75000.0,Missouri,Midwest Region
19,40.0,4.0,2.0,51.0,3.0,37.7,39.9,35.2,3.0,NaN,1.0,0.0,42000.0,42000.0,Missouri,Midwest Region
20,NaN,4.0,1.0,67.0,1.0,37.8,40.7,34.6,2.0,NaN,NaN,0.0,0.0,2500.0,Pennsylvania,Northeast Region
21,16.0,2.0,1.0,58.0,1.0,39.4,42.7,35.6,2.0,NaN,1.0,0.0,24000.0,85000.0,Pennsylvania,Northeast Region
22,NaN,3.0,1.0,79.0,1.0,38.9,41.4,36.2,1.0,NaN,NaN,0.0,0.0,35000.0,Kansas,Midwest Region
23,NaN,5.0,1.0,68.0,3.0,38.7,41.5,35.8,2.0,NaN,NaN,0.0,0.0,55000.0,Maine,Northeast Region
24,42.0,4.0,2.0,59.0,3.0,38.1,41.1,35.1,2.0,NaN,1.0,0.0,40000.0,125000.0,Virginia,South Region
25,40.0,5.0,1.0,54.0,2.0,37.5,40.1,34.7,2.0,NaN,0.0,1.0,35000.0,75000.0,Washington,West Region
26,NaN,3.0,2.0,67.0,2.0,39.3,41.7,36.6,2.0,NaN,NaN,0.0,35000.0,50000.0,Oklahoma,South Region
27,40.0,4.0,2.0,NaN,2.0,37.7,40.3,35.2,2.0,NaN,1.0,0.0,NaN,NaN,Connecticut,Northeast Region
28,NaN,2.0,2.0,60.0,3.0,38.9,40.6,37.2,3.0,NaN,NaN,1.0,0.0,40000.0,Florida,South Region
29,50.0,3.0,1.0,49.0,1.0,38.1,40.7,35.0,3.0,1.0,1.0,0.0,12000.0,18000.0,Utah,West Region
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9641,NaN,4.0,2.0,26.0,2.0,38.2,39.9,36.6,3.0,NaN,NaN,0.0,0.0,30000.0,Pennsylvania,Northeast Region
9642,40.0,3.0,1.0,46.0,3.0,38.8,41.2,35.9,3.0,NaN,1.0,0.0,120000.0,145000.0,Washington,West Region
9643,40.0,3.0,2.0,47.0,3.0,37.5,40.1,34.7,3.0,NaN,1.0,0.0,40000.0,40000.0,Kentucky,South Region
9644,40.0,4.0,2.0,37.0,3.0,38.6,40.5,36.5,3.0,NaN,0.0,0.0,40000.0,40000.0,Illinois,Midwest Region
9645,24.0,2.0,1.0,72.0,2.0,39.3,41.4,36.8,1.0,2.0,1.0,0.0,60000.0,160000.0,Hawaii,West Region
9646,40.0,4.0,2.0,38.0,1.0,38.4,39.4,37.4,3.0,NaN,1.0,0.0,72000.0,72000.0,Maryland,South Region
9647,40.0,5.0,2.0,64.0,3.0,37.9,39.9,35.6,1.0,NaN,1.0,0.0,52000.0,52000.0,Nevada,West Region
9648,NaN,4.0,1.0,19.0,3.0,37.8,40.8,34.6,3.0,NaN,NaN,0.0,0.0,35000.0,Massachusetts,Northeast Region
9649,20.0,4.0,1.0,65.0,2.0,38.8,41.0,36.2,2.0,4.0,1.0,0.0,300000.0,300000.0,New Jersey,Northeast Region
9650,45.0,3.0,1.0,39.0,2.0,39.8,41.8,37.4,3.0,2.0,1.0,1.0,37000.0,70000.0,Texas,South Region
9651,68.0,4.0,2.0,52.0,3.0,38.4,41.0,35.6,1.0,2.0,1.0,0.0,100000.0,120000.0,Iowa,Midwest Region
9652,42.0,3.0,1.0,34.0,3.0,36.7,39.3,33.7,3.0,NaN,1.0,0.0,160000.0,160000.0,Colorado,West Region
9653,40.0,4.0,1.0,62.0,3.0,37.9,39.6,35.9,3.0,NaN,1.0,0.0,95423.0,95423.0,California,West Region
9654,NaN,3.0,2.0,66.0,1.0,40.6,43.4,36.7,2.0,NaN,NaN,0.0,0.0,80000.0,Mississippi,South Region
9655,40.0,3.0,2.0,47.0,3.0,38.2,40.4,35.9,2.0,NaN,1.0,0.0,55000.0,100000.0,Connecticut,Northeast Region
9656,6.0,4.0,1.0,27.0,2.0,38.7,40.5,36.9,3.0,4.0,1.0,0.0,12000.0,15000.0,New York,Northeast Region
9657,40.0,4.0,2.0,37.0,3.0,38.5,41.0,35.9,3.0,NaN,1.0,0.0,70000.0,70000.0,Pennsylvania,Northeast Region
9658,40.0,5.0,1.0,26.0,3.0,40.1,42.5,37.4,3.0,NaN,0.0,0.0,104000.0,104000.0,Texas,South Region
9659,42.0,3.0,2.0,66.0,3.0,38.3,40.3,36.2,3.0,NaN,1.0,0.0,50000.0,50000.0,Minnesota,Midwest Region
9660,NaN,3.0,1.0,62.0,1.0,37.8,39.6,35.9,1.0,NaN,NaN,0.0,0.0,0.0,Wisconsin,Midwest Region
9661,NaN,2.0,1.0,78.0,2.0,38.6,40.9,35.7,2.0,NaN,NaN,0.0,0.0,36192.0,California,West Region
9662,NaN,4.0,1.0,18.0,3.0,39.1,42.0,36.0,3.0,NaN,NaN,0.0,4500.0,NaN,New York,Northeast Region
9663,NaN,4.0,1.0,54.0,3.0,43.0,47.0,37.5,3.0,NaN,NaN,0.0,60000.0,90000.0,Texas,South Region
9664,NaN,4.0,1.0,60.0,3.0,38.6,40.5,36.5,2.0,NaN,NaN,0.0,0.0,0.0,Illinois,Midwest Region
9665,10.0,5.0,2.0,68.0,2.0,40.2,42.7,37.2,2.0,NaN,1.0,0.0,NaN,NaN,Texas,South Region
9666,48.0,3.0,2.0,47.0,3.0,37.9,39.7,36.0,2.0,NaN,0.0,0.0,NaN,NaN,New Mexico,West Region
9667,18.0,4.0,1.0,73.0,3.0,38.6,40.5,36.5,3.0,NaN,0.0,0.0,36000.0,120000.0,Illinois,Midwest Region
9668,35.0,4.0,2.0,67.0,1.0,38.9,42.0,35.4,1.0,1.0,1.0,0.0,35000.0,80000.0,Illinois,Midwest Region
9669,60.0,3.0,2.0,51.0,1.0,39.5,42.5,36.3,2.0,NaN,1.0,0.0,61000.0,82000.0,Louisiana,South Region
9670,20.0,5.0,2.0,70.0,3.0,37.5,39.4,35.5,3.0,4.0,1.0,0.0,17000.0,31000.0,Arizona,West Region

In [5]:
# Download as .csv file

jobs.to_csv('ari_jobs.csv')

In [6]:
# group by state then download to CSV file

jobs.groupby('statename', as_index=False)['Q14_hrs_all_jobs'].mean()
state_grouped = jobs_data_df.groupby('statename')
state_grouped.mean().reset_index()[['statename', 'Q14_hrs_all_jobs']].to_csv('state_grouped.csv')

In [7]:
# remove blanks from "Q14_hrs_all_jobs"

jobs= jobs[np.isfinite(jobs['Q14_hrs_all_jobs'])]

jobs.head()

,Q14_hrs_all_jobs,Q2_Health,Q49_gender,Q50_age,Q3_Income_vs_5yr_ago,avg_hours_worked,avg_hours_worked_men,avg_hours_worked_women,Q4_Income_vs_5yr_fut,Q11_why_other_job,Q33_have_right_edu,Q62_ever_incarcerated,Q64_personal_income_cleaned,Q65_household_income_cleaned,statename,region
3,20.0,4.0,2.0,57.0,1.0,40.4,42.8,37.6,3.0,NaN,1.0,0.0,24000.0,250000.0,Tennessee,South Region
5,40.0,4.0,2.0,72.0,3.0,38.4,41.1,35.4,1.0,NaN,0.0,0.0,47000.0,138000.0,Pennsylvania,Northeast Region
6,40.0,4.0,1.0,62.0,2.0,37.6,39.7,34.9,1.0,NaN,1.0,0.0,54000.0,68400.0,California,West Region
8,40.0,5.0,2.0,23.0,3.0,35.9,38.6,33.0,3.0,4.0,1.0,0.0,45000.0,95000.0,California,West Region
10,30.0,4.0,1.0,79.0,2.0,39.9,42.3,37.2,2.0,NaN,1.0,0.0,42000.0,42000.0,Texas,South Region

In [8]:
jobs.groupby('region', as_index=False)['Q14_hrs_all_jobs'].mean()

             region  Q14_hrs_all_jobs
0    Midwest Region         41.769029
1  Northeast Region         41.743723
2      South Region         41.652626
3       West Region         41.249656

In [9]:
# Note the total number of people who have been incarcerated in the sample = 445. Nearly half of who are not working.
# incarcerated_df = jobs_data_df

# incarcerated_df = jobs.drop(jobs[jobs['Q62_ever_incarcerated'] != 1].index, inplace = True) 

# incarcerated_df.drop(incarcerated_df[incarcerated_df['Q62_ever_incarcerated'] != 1].index, inplace = True) 

# incarcerated_df.to_csv('incarcerated_jobs.csv')

# incarcerated_df.head()

incarcerated_df = jobs[~(jobs['Q62_ever_incarcerated'] != 1)]  

incarcerated_df.head()

,Q14_hrs_all_jobs,Q2_Health,Q49_gender,Q50_age,Q3_Income_vs_5yr_ago,avg_hours_worked,avg_hours_worked_men,avg_hours_worked_women,Q4_Income_vs_5yr_fut,Q11_why_other_job,Q33_have_right_edu,Q62_ever_incarcerated,Q64_personal_income_cleaned,Q65_household_income_cleaned,statename,region
25,40.0,5.0,1.0,54.0,2.0,37.5,40.1,34.7,2.0,NaN,0.0,1.0,35000.0,75000.0,Washington,West Region
164,68.0,3.0,1.0,64.0,2.0,37.9,39.6,35.9,3.0,1.0,1.0,1.0,60000.0,NaN,California,West Region
210,45.0,2.0,1.0,65.0,2.0,38.2,41.5,34.7,1.0,NaN,0.0,1.0,50000.0,50000.0,Ohio,Midwest Region
211,55.0,3.0,1.0,41.0,3.0,38.8,42.0,35.2,3.0,2.0,1.0,1.0,65000.0,90000.0,Ohio,Midwest Region
232,40.0,4.0,1.0,30.0,3.0,37.2,40.6,33.3,3.0,NaN,1.0,1.0,40000.0,75000.0,Wyoming,West Region

In [10]:
# incarcerated_df.loc[incarcerated_df['Q62_ever_incarcerated'] != 1]

incarcerated_df.groupby('region', as_index=False)['Q14_hrs_all_jobs'].mean()

             region  Q14_hrs_all_jobs
0    Midwest Region         43.492063
1  Northeast Region         43.612903
2      South Region         42.202381
3       West Region         43.894118

In [11]:
# Connect df to SQL

engine = create_engine('postgresql://postgres:PASSWORD@localhost/jobs_data')
jobs = pd.read_csv('../Project_2/ari_jobs.csv')
jobs.to_sql(name='ari_jobs', con=engine, if_exists='replace', index=False)

# jobs.to_sql('pandas_db', engine)

NameError: name 'renamed_df' is not defined